.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exercise_list {
  margin-left: 20px;
  margin-top: 20px;
}
.page {
  width: 100vw;
  height: calc(100vh - 72px);
}
